.quizContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subTitle{
    font-size: 3rem;
    border: 1px solid black;
    background-color: #bebebe;
    box-shadow: 4px 4px 2px black;
    padding: 5px 10px;
    text-align: center;
}

.quizInfo{
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding: .5rem 1rem;
    /* font-size: 1.3rem; */
    text-transform: uppercase;
    font-weight: bold;
}